.img-product:hover{
    transform: scale(1.1);
    transition: 0.7s;
}
.img-product{
    transition: 0.4s;
}
.text-product{
    font-weight: bold;
}

.text-product:hover{
    color: red;
}
#add-like{
    cursor: pointer;
}